
.contentWrap {
  margin-top: 30px;
}


.DraftEditor-root, .htmlWrap {
  height: 200px;
  border: 1px solid rgb(204, 204, 204);
  padding: 5px;
}

.colorWrap {
  position: relative;
  display: inline-block;
}
.colorPop {
  position: absolute;
  top: 20px;
}

.DraftEditor-editorContainer {
  height: 100%;
  overflow: auto;
  padding: 5px;
}

.s-btn {
  display: inline-block;
  background: #ece7e7;
  padding: 4px;
  border-radius: 3px;
  cursor: pointer;
}
.activeButton {
  color: #0072f5;
}